/* General page layout */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Main container styling */
#container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

/* Header styling */
h1 {
    text-align: center;
    color: #333;
}

/* Webcam and label container styling */
#webcam-container, #label-container {
    text-align: center;
    margin-bottom: 10px;
}

/* Chat container styling */
#chat-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #5c5c5c;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Input area styling */
#input-container {
    display: flex;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 4px 0 0 4px;
}

/* Button styling */
button {
    padding: 10px 15px;
    background-color: #7aadff;
    color: #000513;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    
    transition-duration: 0.4s;
    background-color: #001022;
}

#input-container button {
    border-radius: 0 4px 4px 0;
}

/* Chat message styling */
.message {
    max-width: 80%;
    min-width: 20%; 
    
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.user-message {
    background-color: #5e5e5e;
    color: #adffd1;
    align-self: flex-end;
    margin-left: auto;
}

.bot-message {
    background-color: #ff6464;
    color: #00ff6e;
    align-self: flex-start;
}