* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

 body {
    background: #9c3939;
 }

 .app {
    background: #abff9a;
    width: 90%;
    max-width: 600px; 
    margin: 100px auto; 
    border-radius: 10px;
    padding: 30px;
 }

 .app h1 {
    font-size: 30px;
    color: rgb(0, 4, 24);
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
 }

 .quiz {
    padding: 20px 0;
 }

.quiz h2 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.btn {
    background: #fff;
    color: rgb(0, 0, 0);
    font-weight: 500;
    width: 100%;
    border: 1px solid #373737;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #222e1e;
    color: #fff;
}

#next-btn {
    background: #050705;
    color: #e0e0e0;
    border: 2px solid;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500; 
    width: 150px;
    margin: 20px auto;
    display: block;
}

.correct {
    background: #1fb900;
}

.incorrect {
    background: #9c3939;
}