<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div id="container">
        <h1>My MRI AI</h1>
        <!-- Webcam and image recognition elements -->
        <div id="webcam-container">
            <button onclick="closeWebcam()" aria-label="Close alert" type="button" data-close>
                <span aria-hidden="true">&times;</span> </button>
            <!--added button to close webcam-->
        </div>
        <div id="label-container"></div>
        <button onclick="init()">Start Webcam</button>
        <!--added button to close webcam-->
        <button onclick="TestKnowlege()">TestKnowlege</button>

        <!-- Chat interface -->
        <div id="chat-container"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Ask the AI a question about your results">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>